* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.calculator-container {
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  margin: auto;
  box-shadow: 0px 5px 60px 0px pink, 10px 10px 50px -10px rgb(57, 157, 234);
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 10px;
}

.input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
}

.buttons-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button {
  margin-right: 5px;
  padding-inline: 7px;
  padding-block: 5px;
  cursor: pointer;
  background-color: black;
  color: white;
  text-align: center;
}

.errors {
  margin-top: 20px;
  text-align: center;
}

.error-text {
  color: red;
}

.result-text {
  color: green;
}
